.dark-skin {
    font-weight: 600;
    background: #0d0e13 !important;
    color: #fff;
}

.dark-skin-2 {
    font-weight: 600;
    background: #111119 !important;
    color: #fff;
}

.white-skin {
    font-weight: 600;
    background: #f7f8fd;
    color: #000;
}

.light-skin-2 {
    background: #f5f8fd;
}

.black {
    background: #030404;
}

.pink {
    background: #ca436c;
}

.blue {
    background: #1d30fe;
}

.gray {
    background: #2b2d3a;
}

.white {
    background: #fcfbff;
}

.light-blue {
    background: #addaf1;
}

.red {
    background: #f84a65;
}

.purple {
    background: #9121fe;
}

.yellow {
    background: #fadd39;
}
.border-radius-3 {
    border-radius: 3%;
}

.p-l-1 {
    padding-left: 1px;
}

.p-l-2 {
    padding-left: 2px;
}

.p-l-3 {
    padding-left: 3px;
}

.p-r-1 {
    padding-right: 1px;
}

.p-r-2 {
    padding-right: 2px;
}

.p-r-3 {
    padding-right: 3px;
}

.m-l-10 {
    margin-left: 10px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.wp-10 {
    width: 10%;
}

.wp-20 {
    width: 20%;
}

.wp-30 {
    width: 30%;
}